.imgWH {
    width: 100%;
    height: 100%;
}

.overtext {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    background:transparent;
    font-size: 42px;
}